@use "./styles";
@use "fonts";
@use "colors";
@use "text";

a {
  transition: 0.4s ease;
}

html {
  scroll-behavior: smooth;
}

#gifts {
  background-image: url(../images/backgrounds/bg-garland.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  border-radius: 1.25rem;
}

#marketplace {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.25rem;
}

#text {
  max-width: 426px;

  text-align: center;
  color: colors.$static-white;
}

#tabs {
  list-style: none;
  max-width: 474px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.tab {
  transition: background-color 0.4s;
  cursor: pointer;
  white-space: nowrap;
  display: block;
  padding: 0.75rem 1.25rem;
  border-radius: 0.75rem;

  color: colors.$static-white;
  text-decoration: none;

  &:hover {
    background-color: colors.$static-white-20;
  }
}

.active-filter-btn {
  color: colors.$static-white;
  background-color: colors.$static-white-20;
  pointer-events: none;
}

@media screen and (max-width: 482px) {
  #tabs {
    gap: 0;
  }
}

@media screen and (max-width: 350px) {
  #tabs {
    flex-direction: column;
  }
}
