// color variables
$primary: rgb(255, 70, 70);
$primary-10: rgba(255, 70, 70, 0.1);
$dark: rgb(25, 28, 41);
$static-white: rgb(255, 255, 255);
$static-white-40: rgba(255, 255, 255, 0.4);
$static-white-20: rgba(255, 255, 255, 0.2);
$tag-purple: rgb(67, 97, 255);
$tag-pink: rgb(255, 67, 247);
$tag-green: rgb(6, 164, 79);
$content-bg: rgb(236, 243, 248);
$overlay: rgba(24, 28, 41, 0.8);
