@use "./styles";
@use "fonts";
@use "colors";
@use "text";
@use "math";

a {
  transition: 0.4s ease;
}

html {
  scroll-behavior: smooth;
}

#gifts {
  background-image: url(../../assets/images/backgrounds/bg-garland.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  border-radius: math.rem(20);
}

#marketplace {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: math.rem(20);
}

#text {
  max-width: math.rem(426);

  text-align: center;
  color: colors.$static-white;
}

#tabs {
  list-style: none;
  max-width: math.rem(474);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: math.rem(8);
}

.tab {
  transition: background-color 0.4s;
  cursor: pointer;
  white-space: nowrap;
  display: block;
  padding: math.rem(12) math.rem(20);
  border-radius: math.rem(12);

  color: colors.$static-white;
  text-decoration: none;

  &:hover {
    background-color: colors.$static-white-20;
  }
}

.active-filter-btn {
  color: colors.$static-white;
  background-color: colors.$static-white-20;
  pointer-events: none;
}

@media screen and (max-width: math.rem(482)) {
  #tabs {
    flex-direction: column;
  }
}
