@use "fonts";
@use "colors";
@use "text";
@use "math";
@use "mixins";

.nowrap {
  white-space: nowrap;
}

a {
  transition: 0.4s ease;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.dark-button {
  color: colors.$static-white;
  background-color: colors.$dark;
  line-height: math.rem(56);
  width: math.rem(235);
  height: math.rem(56);
  border: none;
  border-radius: math.rem(20);
  cursor: pointer;
  text-decoration: none;
}

.dark-button:hover {
  color: colors.$dark;
  background-color: colors.$static-white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > * {
  margin: auto;
}

#body {
  max-width: math.rem(1440);
  margin: auto;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

#header,
#main {
  width: min(math.rem(1440), 100%);
  overflow: hidden;
}

section {
  width: 100%;
}

#header {
  padding: 0 math.rem(8);
  grid-area: header;
}

#nav {
  max-width: math.rem(1276);
  padding: math.rem(12) 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: math.rem(12);

  li {
    height: math.rem(40);
    list-style: none;
  }

  a {
    text-decoration: none;
    color: colors.$dark;
  }

  #header-icon-active {
    color: colors.$primary;
    background-color: colors.$primary-10;
    pointer-events: none;
  }
}

#nav-list {
  @include mixins.flex-row;
  justify-content: flex-end;
  align-items: center;
  gap: math.rem(8);

  a {
    display: block;
    padding: math.rem(12) math.rem(20);
    border-radius: math.rem(12);
  }

  a:hover {
    color: colors.$primary;
    background-color: colors.$primary-10;
  }
}

#logo {
  max-width: 100%;

  a {
    padding: math.rem(8) math.rem(20);
    border-radius: math.rem(12);
    @include mixins.flex-row;
    align-items: center;
    justify-content: flex-start;
    gap: math.rem(8);

    img {
      width: math.rem(24);
      height: math.rem(24);
    }
  }
}

#burger-menu-icon {
  display: none;
}

#burger-menu {
  position: fixed;
  width: 0;
  right: 0;
  height: 100%;
  background-color: colors.$static-white;
  display: flex;
  transition: 0.4s;
  ul {
    @include mixins.flex-center;
    @include mixins.flex-column;
    gap: math.rem(8);
    margin: auto;
    list-style: none;
    li {
      height: math.rem(60);
      text-align: center;
      a {
        padding: math.rem(12) math.rem(20);
        text-decoration: none;
        color: colors.$dark;
      }
    }
  }
}

.burger-menu-open {
  width: 100% !important;
  overflow: hidden;
}

section {
  background-color: colors.$primary;
  background-image: url(../../assets/images/backgrounds/bg-snow.png);
  background-size: cover;
  background-position: center;
  padding: math.rem(60) 0;
  overflow: hidden;
}

#hero {
  background-image: url(../../assets/images/backgrounds/bg-ball.png),
    url(../../assets/images/backgrounds/bg-snow.png);
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat;
  border-radius: math.rem(20) math.rem(20) 0 0;
}

#hero-container {
  @include mixins.flex-center;
  color: colors.$static-white;
  margin: auto;
  flex-flow: column wrap;
  text-align: center;
  gap: math.rem(12);

  padding: math.rem(60) 0;
  max-width: math.rem(426);
}

#about-container {
  max-width: math.rem(1276);
  margin: auto;
  @include mixins.flex-row();
  align-items: center;
  justify-content: space-between;
  border-radius: math.rem(20);
  background-color: colors.$static-white;
}

#about-text-container {
  margin: 0;
  padding: 0 math.rem(60);
}

#about-text {
  padding: math.rem(60) 0;
  color: colors.$dark;
  width: min(math.rem(426), 100%);

  @include mixins.flex-column;
  gap: math.rem(20);

  .caption {
    color: colors.$primary;
  }
}

#image-container {
  min-width: 50%;
  height: math.rem(528);
  background-image: url(../../assets/images/main-page-images/santa.png);
  background-size: cover;
  background-position: center;
  border-radius: math.rem(20);
}

#slider {
  color: colors.$static-white;
}

#slider-container {
  margin: auto;
}

#slider-text {
  max-width: math.rem(426);
  margin: auto;
  @include mixins.flex-column;
  align-items: center;
  gap: math.rem(12);
}

#slider-row {
  max-width: math.rem(1992);
  height: math.rem(200);
  margin-top: math.rem(20);
  transition: 0.4s ease;
  overflow: hidden;
  scroll-behavior: smooth;
  padding-left: math.rem(82);
  padding-right: math.rem(82);
}

#row-container {
  @include mixins.flex-row;
  align-items: center;
  gap: math.rem(20);
}

.img-cont {
  height: math.rem(200);
  max-width: math.rem(200);

  img {
    height: inherit;
    width: inherit;
    border-radius: math.rem(20);
  }
}

#slider-buttons {
  margin-top: math.rem(20);
  @include mixins.flex-row;
  justify-content: flex-end;
  align-items: center;
  gap: math.rem(20);
  padding-right: math.rem(82);
}

.non-active-slider-button {
  pointer-events: none;
  opacity: 0.5;
}

.slider-button {
  @include mixins.flex-center;
  cursor: pointer;
  width: math.rem(56);
  height: math.rem(56);
  border-radius: math.rem(20);
  border: math.rem(1) solid colors.$static-white;
  background-color: transparent;
}

.slider-button:hover {
  transition: all 0.4s ease;
  background-color: colors.$static-white;
  svg path {
    stroke: rgb(255, 70, 70);
  }
}

#gifts-container {
  @include mixins.flex-column;
  gap: math.rem(20);
}

#gifts-text {
  @include mixins.flex-center;
  @include mixins.flex-column;
  text-align: center;
  gap: math.rem(12);

  color: colors.$static-white;
}

#cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, math.rem(310));
  justify-content: center;
  align-items: center;
  gap: math.rem(12);
}

.card {
  background-color: colors.$content-bg;
  border-radius: math.rem(20);
  transition: all 0.4s;
  @include mixins.flex-column;

  &:hover {
    cursor: pointer;
  }
  &:hover .header-3 {
    color: colors.$primary;
  }
}

.card.modal {
  width: min(95%, math.rem(400));
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line-top,
.line-bottom {
  width: math.rem(20);
  height: math.rem(1);
  background-color: colors.$dark;
  border-radius: math.rem(20);
}

.top-line-close {
  transform: translateY(math.rem(5)) rotate(-45deg);
}

.bottom-line-close {
  transform: translateY(math.rem(-4)) rotate(45deg);
}

.modal-close-icon {
  position: absolute;
  right: math.rem(12);
  top: math.rem(12);
  width: math.rem(40);
  height: math.rem(40);
  @include mixins.flex-center;
  @include mixins.flex-column;
  gap: math.rem(8);
  border: none;
  z-index: 2;
}

.modal-snowflake {
  align-self: center;
  width: math.rem(16);
  height: math.rem(16);
}

.modal-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(24, 28, 41, 0.8);
}

.header-3 {
  transition: 0.4s;
}

.card-image {
  height: math.rem(230);
  max-width: math.rem(310);

  img {
    width: 100%;
  }
}

.card-image.modal {
  max-width: math.rem(400);
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.card-text {
  overflow: hidden;

  height: math.rem(112);
  max-width: math.rem(310);

  @include mixins.flex-column;
  gap: math.rem(8);

  background-color: colors.$static-white;
  border-radius: math.rem(20);
  padding: math.rem(20);
}

.card-text.modal {
  height: 100%;
  max-width: math.rem(400);
}

.superpower {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: math.rem(8);

  p:nth-child(2) {
    text-align: center;
  }
  img {
    vertical-align: text-bottom;
  }
}

.power-value {
  @include mixins.flex-row;
  gap: math.rem(8);
}

.for-work {
  color: colors.$tag-purple;
}

.for-health {
  color: colors.$tag-green;
}

.for-harmony {
  color: colors.$tag-pink;
}

#cta {
  background-image: url(../../assets/images/backgrounds/bg-forest.png),
    url(../../assets/images/backgrounds/bg-snow.png);
  border-radius: 0 0 math.rem(20) math.rem(20);
}

#cta-container {
  padding: math.rem(60) 0;
  border-radius: math.rem(20);

  @include mixins.flex-center;
}

#cta-block {
  width: min(math.rem(426), 100%);
  padding: math.rem(60) 0;

  @include mixins.flex-center;
  @include mixins.flex-column;
  gap: math.rem(20);

  text-align: center;
  color: colors.$static-white;
}

#cta-box-container {
  display: inherit;
  flex-flow: inherit;
  justify-content: inherit;
  align-items: inherit;
  gap: math.rem(8);
}

#timer {
  max-width: math.rem(344);
  padding: math.rem(8) math.rem(12) math.rem(12) math.rem(12);

  display: grid;
  grid-template-columns: repeat(4, math.rem(80) 0);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;

  background-color: colors.$static-white-40;
  border-radius: math.rem(20);

  div {
    max-width: math.rem(80);
    @include mixins.flex-center;
    @include mixins.flex-column;
  }
}

#footer {
  width: min(100%, math.rem(1440));
  padding: math.rem(60) math.rem(8);
}

#footer-container {
  margin: auto;
  width: 90%;
  @include mixins.flex-column;
  gap: math.rem(60);
  align-content: space-between;
}

#contacts {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: math.rem(12);

  div {
    background-color: colors.$content-bg;

    @include mixins.flex-row;
    flex: 1;
    justify-content: center;
    border-radius: math.rem(20);

    a {
      text-decoration: none;
      color: colors.$dark;
      border-radius: inherit;

      width: 100%;
      height: 100%;
    }

    a:hover {
      color: colors.$primary;
    }

    div {
      padding: math.rem(20);

      @include mixins.flex-center;
      @include mixins.flex-column;
      gap: math.rem(12);

      img {
        width: math.rem(80);
        height: math.rem(80);
      }
    }
  }
}

#socials-container {
  @include mixins.flex-center;
  flex-flow: column;
  align-self: center;
  gap: math.rem(12);

  a {
    color: colors.$dark;
    text-decoration: none;
  }

  a:hover {
    color: colors.$primary;
  }
}

#socials {
  max-width: math.rem(196);
  @include mixins.flex-row;
  justify-content: space-between;
  align-items: center;
  gap: math.rem(12);

  div {
    @include mixins.flex-center;
    width: math.rem(40);
    height: math.rem(40);

    a {
      padding: math.rem(8);
      @include mixins.flex-center;
      width: 100%;
      height: 100%;
    }
  }

  div svg path {
    transition: stroke 0.4s ease;
  }

  div:hover svg path {
    stroke: rgb(255, 70, 70);
  }
}

@media screen and (max-width: math.rem(986)) {
  #slider-row {
    padding-left: math.rem(8);
    padding-right: math.rem(8);
  }
  #slider-buttons {
    padding-right: math.rem(8);
  }
  #contacts {
    flex-direction: column;
  }
}

@media screen and (max-width: math.rem(768)) {
  #nav-list {
    display: none;
  }

  #burger-menu-icon {
    width: math.rem(40);
    height: math.rem(40);
    @include mixins.flex-center;
    @include mixins.flex-column;
    gap: math.rem(8);
    border: none;
    * {
      transition: 0.4s;
    }
  }

  #footer {
    width: 100%;
    padding: math.rem(60) math.rem(8);
  }

  #footer-container {
    width: 98%;
  }

  #contacts {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: math.rem(12);
    width: 100%;
  }

  #top-btn {
    visibility: hidden;
    opacity: 0;
    width: math.rem(56);
    height: math.rem(56);
    background-color: colors.$static-white;
    border: math.rem(1) solid colors.$primary;
    border-radius: 50%;
    position: fixed;
    right: 8vw;
    bottom: math.rem(123);
    transition: 0.4s;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.top-btn-display {
  visibility: visible !important;
  opacity: 1 !important;
}

@media screen and (min-width: math.rem(769)) {
  #top-btn {
    display: none;
  }
}

@media screen and (max-width: math.rem(665)) {
  #about-container {
    @include mixins.flex-column;
  }

  #image-container {
    width: 100%;
  }
}

@media screen and (min-width: math.rem(380)) and (max-width: math.rem(482)) {
  section > * {
    width: 100%;
  }

  #about-container {
    overflow: hidden;
  }

  #about-text-container {
    padding: 0 math.rem(20);
  }

  .nowrap {
    white-space: wrap;
  }
}

@media (hover: none) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  #nav-list > a:hover {
    color: colors.$dark;
    background-color: transparent;
  }

  .dark-button:hover {
    color: colors.$static-white;
    background-color: colors.$dark;
  }

  .slider-button:hover {
    transition: all 0.4s ease;
    background-color: transparent;
    svg path {
      stroke: colors.$static-white;
    }
  }

  .card:hover {
    color: colors.$dark;
  }

  #contacts > div > a:hover {
    color: colors.$dark;
  }
}
